shamefully-hoist=true
public-hoist-pattern[]=*zustand*
public-hoist-pattern[]=*d3-*
public-hoist-pattern[]=*@tabler/icons-react*
public-hoist-pattern[]=*lucide-react*
public-hoist-pattern[]=*motion*
public-hoist-pattern[]=*tailwind-merge*

