@import "tailwindcss";

@theme {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.371 0 0);
  --card: oklch(0.985 0 0);
  --card-foreground: oklch(0.439 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.439 0 0);
  --primary-foreground: oklch(0.97 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.98 0.03 122.328);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.837 0.128 66.29);
  --destructive-foreground: oklch(0.269 0 0);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.7 0 0);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.16 0 0);
  --foreground: oklch(0.8 0 0);
  --card: oklch(0.155 0 0);
  --card-foreground: oklch(0.8 0 0);
  --popover: oklch(0.224 0 0);
  --popover-foreground: oklch(0.75 0 0);
  --primary: oklch(0.5837 0.1754 294.261);
  --primary-foreground: oklch(0.87 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.922 0 0);
  --muted: oklch(0.2 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.87 0 0);
  --destructive: oklch(0.75 0.183 55.934);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.25 0 0);
  --input: oklch(0.28 0 0);
  --ring: oklch(0.4 0 0);
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}
